<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
  <%- include('../partials/header', {pagina: 'sobre'}); %>
  
  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Oi, me chamo Caio estou estudando programação pela Rocketseat e este é meu primeiro projeto usando servidor local com express e ejs. Estou gostando bastante!</p>
    </div>
  </main>

  <%- include('../partials/footer'); %>
</body>

</html>